[tools]
node = "22"

aws-cli = "latest"
"npm:pm2" = "latest"
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@openai/codex" = "latest"
"npm:pnpm" = "10.12"

[tasks.ls]
run = "pm2 ls"

[tasks."dev"]
dir = "{{config_root}}/applications"
run = "pnpm run dev"

[tasks."check"]
dir = "{{config_root}}/applications"
run = "pnpm run check"

[tasks."test"]
dir = "{{config_root}}/applications"
run = "pnpm run test"


[env]
ENV_NAME = 'local'

PGUSER = 'app'
PGPASSWORD = 'password'
PGHOST = 'localhost'
PGPORT = 5432
PGDATABASE = 'main'
DATABASE_URL = 'postgresql://admin:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}'