name: ddd
services:
  app:
    image: mcr.microsoft.com/devcontainers/base:debian
    command: sleep infinity
    environment:
      # DATABASE_URL: postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      DATABASE_URL: ${DATABASE_URL}
      ENV_NAME: ${ENV_NAME}
      MOCK_AUTH: ${MOCK_AUTH}
      # AWS_PROFILE_PREFIX: ${AWS_PROFILE_PREFIX:-devision}
    volumes:
      - ../:/workspace:cached
      - ~/.aws:/root/.aws
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
      - ~/.awsume:/root/.awsume
      - ~/.codex:/root/.codex
      - mise_cache:/root/.cache/mise
      - mise_installs:/root/.local/share/mise/installs
    #   - ${DOCKER_SOCK:-/var/run/docker.sock}:/var/run/docker.sock
  postgres:
    image: postgres:17.5
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: {}
  mise_cache: {}
  mise_installs: {}
